/* line.css */
.chart-container {
    position: relative;
    height: 60vh;
    width: 80vw;
    border: 1px solid #101010;
    border-radius: 16px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 2px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 250px;
    /* Diğer özel stil ayarlarını burada yapabilirsiniz */
}
