

.chart {
  width:900px ;
  height: 500px;
  margin-top: 30px;
  margin-left: 300px;

  border-radius: 20px;
 background-color: #f5f5f5;
}

/* Mobil için media query */
@media (max-width: 600px) {
  .chart {
    
    width: 90%;
    margin-left: 10px;
    padding: 10px;
  }

  .kare {
    width: 0%;
    max-width: 220px;
    flex-direction: column; /* Dikey hizalama sağlar */
    justify-content: center !important;
    margin-left: 80px !important; 
 
  }
  .karehidden{
    width: 0%;
    max-width: 220px;
    flex-direction: column; /* Dikey hizalama sağlar */
    justify-content: center !important;
    margin-left: 80px !important; 
  }

  
  
  .form-container1,
  .form-container2,
  .form-container3,
  .form-container4,
  .form-container5 {

    width: 100px; /* Genişlik 100px olarak ayarlanır */
    margin: 10px auto; /* Orta hizalamak için */
    

  }
  
  
  .form-container1 {
    background-color: hsl(291, 77%, 5%);
    margin-left: 2vh;
  }
  
  .form-container5 {
    background-color: #A5A58D;
    margin-right: 2vh;
  }
  
  .form-container2 {
    background-color: #34d399;
  }
  
  .form-container3 {
    background-color: #4b5563;
  }
  
  .form-container4 {
    background-color: #fde68a;
  }
  
  .DropdownOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
      background-color: rgb(107, 239, 107);
      padding: 2px;
      border:#201d1d;
      border-radius: 70px;
      width: 26vh !important;
      font-size: small;
    }

 
  .kare:hover {
    transform: scale(0);
  }
  
  .tanitim {
    width: 33vh;
    height: 50px;
    color: #201d1d;
    font-size: 12px;
    margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
    font-weight: bold;
    margin-left: 50px !important;
    text-align: center;
    font-style: italic;

  
    
  }
  

  .form-container_2_1,
  .form-container_2_2 {
    width: 20vh;
    height: 26vh;
    padding: 20px;
    background-color: #64748b;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .form-container_2_2 {
    margin-left: 3vh;
  }
  
  
  
}
.kare { 
  width: 900px;
  background-color: #f5f5f5;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
  margin-top: 20px;
  padding: 10px;
 
}

.form-container1,
.form-container2,
.form-container3,
.form-container4,
.form-container5 {
  height: 150px;
  width: 150px;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
 
}


.form-container1 {
  background-color: hsl(291, 77%, 5%);
  margin-left: 2vh;
}

.form-container5 {
  background-color: #A5A58D;
  margin-right: 2vh;
}

.form-container2 {
  background-color: #34d399;
}

.form-container3 {
  background-color: #e65100;
}

.form-container4 {
  background-color: #01579b;
}

.tanitim {
  margin-left: 380px;
}






.FiChevronsDown{
display: flex;
align-items: center;
justify-content: center;



}
.karehidden{
  width: 900px;
  height: auto;
  background-color: red;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  margin-left: 300px;
  margin-top: 20px;
  padding: 10px;
}
.content {
  margin-top: 10px;
  padding: 10px;
  background-color: lightblue;
  transition: all 0.5s ease;
  overflow: hidden;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  
}
.DropdownOpen {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
justify-content: center;
  background-color: rgb(107, 239, 107);
  padding: 2px;
  border:#201d1d;
  border-radius: 70px;
  width: 90px;
  font-size: small;
}
.relayheadertext{
  text-align: center;
  margin-bottom: 2px;
  font-weight: bold;
  color: #fff;
  border: solid red;
  border-radius: 15px;
  background-color: black;

  

}
.kare:hover {
  transform: scale(1.05);
}