@keyframes glow {
  0%, 100% {
    box-shadow: 0 0 10px #d53b3b80, 0 0 20px rgba(255,255,255,0.5), 0 0 30px rgba(255,255,255,0.5);
  }
  50% {
    box-shadow: 0 0 20px #ad7b7b, 0 0 30px hsl(0, 41%, 72%), 0 0 40px #ae1b1b;
  }
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
 
}

.circle-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.circle {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Metin rengini beyaz yapar */
  font-size: 1.5em; /* Yazı boyutunu ayarlar */
  position: relative;
  z-index: 2;
  
  /* Apply the animation */
  animation: glow 4s infinite ease-in-out;
}

.line-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.line {
  width: 18vh;
  height: 5px;
  background-color: #100f0f;
  
  /* Add gradient background for sparkle effect */
  background: linear-gradient(90deg, hwb(0 37% 58% / 0.8) 0%, #250202cc 50%, #080707cc 100%);
  
  /* Set the background size to be larger than the element itself */
  background-size: 100% 100%;
  
  /* Apply the animation */
  animation: sparkle 2s infinite ease-in-out;
}

.form-number-input {
  position: absolute;
  top: -40px; /* İhtiyaca göre ayarlayın */
  left: 50%;
  transform: translateX(-50%);
  z-index: 3; /* Çizginin üzerinde olduğundan emin olun */
  
  /* Giriş alanı için ek stiller */
  width: 15vh; /* Gerektiği kadar genişliği ayarlayın */
  padding: 5px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #333; /* Alt çizgi stilini belirleyin */
  background-color: transparent;
  color: hwb(0 1% 90%);
  font-size: 1rem;
  
  /* Giriş alanının odaklandığında stilini belirleyin */
  outline: none;
}

.Relay_Result {
  position: absolute;
  top:6vh; /* İhtiyaca göre ayarlayın */
margin-left: -13vh;
  transform: translateX(-50%);
  z-index: 3; /* Çizginin üzerinde olduğundan emin olun */
  
  /* Giriş alanı için ek stiller */
  width: 15vh; /* Gerektiği kadar genişliği ayarlayın */
  padding: 2px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  
  background-color: #d53b3b;
  color: hwb(0 1% 90%);
  font-size: 1rem;
  
  /* Giriş alanının odaklandığında stilini belirleyin */
  outline: none;
}


.form-number-input:focus {
  border-bottom-color: #d53b3b; /* Odaklandığında alt çizgi rengini değiştirin */
}

.Anadiv_sim{

  width: 145vh;
  height: 30vh;
  background-color: hsl(214, 70%, 62%);
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: right;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
 
  transition: transform 0.1s ease-out;
  display: flex; /* Flexbox kullanarak çocukları yan yana sıralar */
  justify-content: space-between; /* Çocukları eşit aralıklarla dağıtır */
  margin-top: 1vh;
  margin-bottom: 10vh;
  margin-left: 25vh;
}
/* Different colors for each circle */
.circle-0 {
  background-color: #e879f9;
  margin-left: 2vh;
}

.circle-1 {
  background-color:  #34d399;
}

.circle-2 {
  background-color: #4b5563;
}

.circle-3 {
  background-color:  #fde68a;
}

.circle-4 {
  background-color:#A5A58D;
}

.inputPlaceholder {
  font-family: 'Roboto', sans-serif; /* Yazı tipi */
  font-size: 16px;                  /* Yazı boyutu */
  color: hsl(0, 79%, 45%);                      /* Yazı rengi */
  opacity: 1; /* Placeholder metninin opaklığını değiştir */
}




.electric-container {
  width: 120vh;
  height: 5vh;
  overflow: hidden;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 40vh;
}

.electric-line {
  width: 100%;
  height: 5px;
  background: repeating-linear-gradient(
    90deg,
    yellow 0%,
    yellow 20%,
    transparent 20%,
    transparent 40%
  );
  background-size: 200% 100%;
  animation: move 15s linear infinite;
  position: relative;
}

.electric-line::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 0;
  height: 0;
  border-left: 10px solid yellow;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.text {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  color: hsla(159, 20%, 77%, 0.823);
  font-size: 16px;
  font-weight: bold;
  animation: moveText 2s linear infinite;
}

@keyframes move {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


