

/* Mobil için media query */
@media (max-width: 600px) {
  .Anadiv_sim{
    width: 1px !important;
   margin-left:120px !important;
    background-color: white !important;
    flex-direction: column;
    align-items: center; /* İçerideki öğelerin ortalanmasını sağlar */

  }
  .circle-container {
    width: 0 !important;
    height: 0 !important;
    flex-direction: column;
    align-items: center; /* İçerideki öğelerin ortalanmasını sağlar */
  }
  .circle-wrapper {
  
    display: flex;
    flex-direction: column;
    align-items: center; /* İçerideki öğelerin ortalanmasını sağlar */
    justify-content: space-around; /* Öğeler arasında boşluk oluşturur */
  }
  
  .line-wrapper {
    display: flex;
    flex-direction: column;
 
  }
  
  .line {
    width: 5px !important;
    height: 8vh !important;
    background: linear-gradient(180deg, hwb(0 37% 58% / 0.8) 0%, #250202cc 50%, #080707cc 100%); /* Dikey gradient */
  }
  .form-number-input {
    position: absolute;
    top: -2px   !important; /* İhtiyaca göre ayarlayın */
    left: 7vh  !important; 
    transform: translateX(-50%);
    z-index: 3; /* Çizginin üzerinde olduğundan emin olun */
    padding: 5px !important;
    /* Giriş alanı için ek stiller */
    width: 10vh; /* Gerektiği kadar genişliği ayarlayın */
    padding: 5px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #333; /* Alt çizgi stilini belirleyin */
    background-color: transparent;
    color: hwb(0 1% 90%);
    font-size: 12px !important;
    
    /* Giriş alanının odaklandığında stilini belirleyin */
    outline: none;
  }

  
.Relay_Result {
 
  top:-5vh !important; /* İhtiyaca göre ayarlayın */
  margin-left: 100px !important;

  background-color: #d53b3b;
  color: hwb(0 1% 90%);
  font-size: 12px !important;
  
 
}
.inputPlaceholder {
  font-family: 'Roboto', sans-serif; /* Yazı tipi */
  margin-top: 5px !important;
  font-size: 10px !important;                  /* Yazı boyutu */
  color: hsl(0, 79%, 45%);                      /* Yazı rengi */
  opacity: 1; /* Placeholder metninin opaklığını değiştir */
}
.form-number-input {
 
  top: 20px !important; /* İhtiyaca göre ayarlayın */



  
  
  
  
  /* Giriş alanının odaklandığında stilini belirleyin */
  outline: none;
}
}

.Anadiv_sim{

  width: 200px;
  height: 220px;
  
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

  
  display: flex; /* Flexbox kullanarak çocukları yan yana sıralar */
  justify-content: space-between; /* Çocukları eşit aralıklarla dağıtır */
  margin-top: 20px;
  margin-bottom: 120px;
  margin-left: 230px;
}
.circle-container {
  background-color: #9e0c0c;
  border-radius: 35px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  padding: 10px;
 
}

.circle-wrapper {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
 
}

.circle {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Metin rengini beyaz yapar */
  font-size: 1.5em; /* Yazı boyutunu ayarlar */
  position: relative;

  

}

.line-wrapper {
  display: flex;

  align-items: center;
  position: relative;
}

.line {
/* bağlantı kablolarıın boyunu tanımlarız*/
  width: 110px;
  height: 5px;
 
  
  /* Add gradient background for sparkle effect */
  background: linear-gradient(90deg, hwb(0 37% 58% / 0.8) 0%, #250202cc 50%, #080707cc 100%);

}

.form-number-input {
  position: absolute;
  top: -45px; /* İhtiyaca göre ayarlayın */
  left: 10%;

  z-index: 3; /* Çizginin üzerinde olduğundan emin olun */

  /* Giriş alanı için ek stiller */
  width: 80px; /* Gerektiği kadar genişliği ayarlayın */
  padding: 6px;
  text-align: center;
  border: none;
  border-bottom: 2px solid #0e0e0e; /* Alt çizgi stilini belirleyin */
  background-color: #f5fffa;
  border: solid black;
  border-radius: 50px;
  color: black;
  font-size: 14px;
  
  
  
  
  /* Giriş alanının odaklandığında stilini belirleyin */
  outline: none;
}

.Relay_Result {
  position: absolute;
  top:7vh; /* İhtiyaca göre ayarlayın */
margin-left: -220px;

  z-index: 3; /* Çizginin üzerinde olduğundan emin olun */
  
  /* Giriş alanı için ek stiller */
  width: 15vh; /* Gerektiği kadar genişliği ayarlayın */
  padding: 2px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  
  background-color: #d53b3b;
  color: hwb(0 1% 90%);
  font-size: 1rem;
  
  /* Giriş alanının odaklandığında stilini belirleyin */
  outline: none;
}


.form-number-input:focus {
  border-bottom-color: red; /* Odaklandığında alt çizgi rengini değiştirin */
}


/* Different colors for each circle */
.circle-0 {
  background-color:hsl(291, 77%, 5%);
  margin-left: 2vh;
}

.circle-1 {
  background-color:  #34d399;
}

.circle-2 {
  background-color: #e65100;
}

.circle-3 {
  background-color:  #01579b;
}

.circle-4 {
  background-color:#a5a38d;
}

.inputPlaceholder {
  font-family: 'Roboto', sans-serif; /* Yazı tipi */
  font-size: 10px;                  /* Yazı boyutu */
  color: hsl(0, 79%, 45%);                      /* Yazı rengi */
  opacity: 1; /* Placeholder metninin opaklığını değiştir */
}





